In [82]:
import numpy as np
import pandas as pd
moto = pd.read_csv('samochody1tys.csv')

In [6]:
#Wyświetlanie DataFrame "moto"
moto

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,BMW,X1 E84,2012.0,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,3,Hyundai,i10 I,2008.0,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,4,Volkswagen,CC,2010.0,Diesel,1968.0,127428.0,49900.0,Wielkopolskie
...,...,...,...,...,...,...,...,...,...
995,995,Alfa Romeo,159,2009.0,Diesel,2387.0,182000.0,33900.0,Małopolskie
996,996,Škoda,Fabia II,2012.0,Benzyna,1200.0,42700.0,25400.0,Lubelskie
997,997,Renault,Modus,2004.0,Benzyna,1200.0,168111.0,10900.0,Łódzkie
998,998,Audi,A3 8L,2000.0,Benzyna,1595.0,226500.0,5400.0,Małopolskie
999,999,Volvo,XC 60 I,2016.0,Diesel,1969.0,13617.0,136900.0,Małopolskie

In [21]:
#Wyświetlanie konkretnego rekordu
moto.iloc[499]

id                           499
marka                        BMW
model                         X4
rok_produkcji               2017
rodzaj_silnika            Diesel
pojemnosc_silnika           1995
przebieg                       2
cena                      254000
wojewodztwo          Małopolskie
Name: 499, dtype: object

In [11]:
#Wyświetlanie pierwszych trzech rekordów 
moto.head(3)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,BMW,X1 E84,2012.0,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie

In [12]:
#Wyświetlanie ostatnich trzech rekordów 
moto.tail(3)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
997,997,Renault,Modus,2004.0,Benzyna,1200.0,168111.0,10900.0,Łódzkie
998,998,Audi,A3 8L,2000.0,Benzyna,1595.0,226500.0,5400.0,Małopolskie
999,999,Volvo,XC 60 I,2016.0,Diesel,1969.0,13617.0,136900.0,Małopolskie

In [27]:
#Wyświetla rekordy z podanego przedziału
moto[499:503]

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
499,499,BMW,X4,2017.0,Diesel,1995.0,2.0,254000.0,Małopolskie
500,500,Volkswagen,Golf V,2007.0,Diesel,1896.0,171000.0,20900.0,Wielkopolskie
501,501,Opel,Meriva I,2004.0,Benzyna,1800.0,153000.0,11900.0,Łódzkie
502,502,Volkswagen,Beetle,2012.0,Benzyna,1390.0,35000.0,42900.0,Śląskie

In [24]:
#Wyświetla rekordy z podanego przedziału i tylko wskazane kolumny
moto.loc[499:525,['marka','model','rok_produkcji','przebieg','cena','wojewodztwo']]

,marka,model,rok_produkcji,przebieg,cena,wojewodztwo
499,BMW,X4,2017.0,2.0,254000.0,Małopolskie
500,Volkswagen,Golf V,2007.0,171000.0,20900.0,Wielkopolskie
501,Opel,Meriva I,2004.0,153000.0,11900.0,Łódzkie
502,Volkswagen,Beetle,2012.0,35000.0,42900.0,Śląskie
503,Toyota,Avensis II,2007.0,190000.0,17900.0,Mazowieckie
504,Ford,EDGE,2017.0,1.0,208400.0,Wielkopolskie
505,Mercedes-Benz,Klasa B W245,2007.0,108870.0,21900.0,Łódzkie
506,Peugeot,307 I,2004.0,136000.0,9800.0,Pomorskie
507,Renault,Laguna II,2001.0,264000.0,5900.0,Mazowieckie
508,Fiat,Tipo II,2017.0,1.0,44900.0,Pomorskie
509,Renault,Scenic II,2005.0,202000.0,10600.0,Małopolskie
510,Toyota,Avensis II,2003.0,164000.0,14300.0,Małopolskie
511,Opel,Insignia A,2015.0,161199.0,51000.0,Wielkopolskie
512,Mitsubishi,Outlander II,2007.0,196000.0,29500.0,Śląskie
513,Mitsubishi,Outlander II,2010.0,165000.0,48880.0,Lubuskie
514,Škoda,Octavia I,2007.0,156000.0,19900.0,Śląskie
515,Opel,Astra H,2008.0,100500.0,21900.0,Łódzkie
516,SsangYong,Tivoli,2016.0,1.0,70990.0,Dolnośląskie
517,Audi,RS7,2016.0,10000.0,514000.0,Mazowieckie
518,Opel,Zafira A,2001.0,202300.0,6900.0,Kujawsko-pomorskie
519,Volkswagen,Golf VII,2016.0,14708.0,58900.0,Mazowieckie
520,Volkswagen,Golf Plus,2007.0,227000.0,20900.0,Dolnośląskie
521,Opel,Astra G,2001.0,230000.0,6900.0,Mazowieckie
522,Seat,Alhambra I,2008.0,280000.0,22000.0,Wielkopolskie
523,Hyundai,Tucson I,2006.0,180000.0,22700.0,Świętokrzyskie
524,Opel,Corsa D,2010.0,157000.0,20800.0,Mazowieckie
525,Mazda,3 III,2016.0,1.0,91175.0,Pomorskie

In [18]:
#Wyświetla tylko podaną kolumne
moto['marka']

0          Nissan
1             BMW
2            Opel
3         Hyundai
4      Volkswagen
          ...
995    Alfa Romeo
996         Škoda
997       Renault
998          Audi
999         Volvo
Name: marka, Length: 1000, dtype: object

In [99]:
#Wyświetla liczbe rekordow o tej samej wartosci w podanej kolumnie 
moto['marka'].value_counts()

Opel             105
Volkswagen        92
Audi              70
BMW               66
Renault           59
Mercedes-Benz     59
Ford              59
Toyota            49
Peugeot           41
Citroën           40
Škoda             36
Fiat              33
Nissan            32
Hyundai           31
Honda             25
Kia               25
Volvo             24
Mazda             21
Seat              20
Mitsubishi        18
Suzuki            16
Mini              11
Chevrolet         11
Lexus              7
Jeep               6
Dodge              5
Land Rover         5
Alfa Romeo         5
Dacia              5
Saab               3
SsangYong          3
Porsche            2
Infiniti           2
Jaguar             2
Smart              2
Daewoo             2
Ligier             1
Maserati           1
Subaru             1
Pontiac            1
Daihatsu           1
Lancia             1
Chrysler           1
0                  1
Name: marka, dtype: int64

In [30]:
#Wyświetla rekordy które spełniają kryteria logiczne
moto[moto.cena < 10000]

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
7,7,Seat,Toledo II,2000.0,Benzyna,1800.0,140700.0,8150.0,Pomorskie
16,16,Ford,Mondeo Mk3,2003.0,Diesel,2000.0,180000.0,7200.0,Małopolskie
31,31,Fiat,Doblo I,2002.0,Benzyna,1600.0,208000.0,8700.0,Dolnośląskie
34,34,Citroën,Xsara II,2002.0,Benzyna,1600.0,216005.0,4699.0,Świętokrzyskie
...,...,...,...,...,...,...,...,...,...
943,943,Mazda,626 V,2001.0,Benzyna,1800.0,204000.0,5300.0,Lubuskie
965,965,Peugeot,Partner I,2003.0,Benzyna,1587.0,199000.0,9890.0,Wielkopolskie
975,975,Opel,Astra G,1998.0,Benzyna+LPG,1400.0,180500.0,4500.0,Lubelskie
984,984,Renault,Laguna II,2001.0,Benzyna,1598.0,154000.0,5900.0,Wielkopolskie
998,998,Audi,A3 8L,2000.0,Benzyna,1595.0,226500.0,5400.0,Małopolskie

In [31]:
#Wyświetla typ każdej kolumny
cars.dtypes

id                     int64
marka                 object
model                 object
rok_produkcji        float64
rodzaj_silnika        object
pojemnosc_silnika    float64
przebieg             float64
cena                 float64
wojewodztwo           object
dtype: object

In [32]:
#Tworzy z kolumn wiersze
pd.melt(moto)

         variable        value
0              id            0
1              id            1
2              id            2
3              id            3
4              id            4
...           ...          ...
8995  wojewodztwo  Małopolskie
8996  wojewodztwo    Lubelskie
8997  wojewodztwo      Łódzkie
8998  wojewodztwo  Małopolskie
8999  wojewodztwo  Małopolskie

[9000 rows x 2 columns]

In [34]:
#Zmiana nazwy kolumny
moto.rename(columns = {'rodzaj_silnika':'silnik'})

,id,marka,model,rok_produkcji,silnik,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,BMW,X1 E84,2012.0,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,3,Hyundai,i10 I,2008.0,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,4,Volkswagen,CC,2010.0,Diesel,1968.0,127428.0,49900.0,Wielkopolskie
...,...,...,...,...,...,...,...,...,...
995,995,Alfa Romeo,159,2009.0,Diesel,2387.0,182000.0,33900.0,Małopolskie
996,996,Škoda,Fabia II,2012.0,Benzyna,1200.0,42700.0,25400.0,Lubelskie
997,997,Renault,Modus,2004.0,Benzyna,1200.0,168111.0,10900.0,Łódzkie
998,998,Audi,A3 8L,2000.0,Benzyna,1595.0,226500.0,5400.0,Małopolskie
999,999,Volvo,XC 60 I,2016.0,Diesel,1969.0,13617.0,136900.0,Małopolskie

In [36]:
#Sortowanie na podstawie wartosci podanej kolumny (ascending=False służy do sortowania malejąco)
moto.sort_values('cena')
#moto.sort_values('cena',ascending=False)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
249,249,Daewoo,Tico,2000.0,Benzyna,796.0,188200.0,650.0,Opolskie
626,626,Mitsubishi,Colt CJ0,1997.0,Benzyna,1300.0,219000.0,899.0,Zachodniopomorskie
497,497,Fiat,Brava,1998.0,Benzyna,1400.0,136000.0,900.0,Śląskie
321,321,Volkswagen,Polo III,1998.0,Benzyna,1043.0,137153.0,1900.0,Mazowieckie
487,487,Mitsubishi,Colt CJ0,2002.0,Benzyna,1299.0,282000.0,2200.0,Dolnośląskie
...,...,...,...,...,...,...,...,...,...
410,410,BMW,Seria 7 G11/12,2017.0,Hybryda,2000.0,10000.0,469900.0,Mazowieckie
517,517,Audi,RS7,2016.0,Benzyna,3993.0,10000.0,514000.0,Mazowieckie
855,855,Land Rover,Range Rover Sport II,2016.0,Benzyna,4999.0,20000.0,529900.0,Mazowieckie
586,586,Mercedes-Benz,Klasa G W463,2013.0,Benzyna,5500.0,4900.0,579000.0,Pomorskie
405,405,Mercedes-Benz,SL R231,2016.0,Benzyna,4663.0,2000.0,616000.0,Mazowieckie

In [39]:
#Usuwanie wskazanych kolumn
moto.drop(columns=['pojemnosc_silnika','wojewodztwo'])

,id,marka,model,rok_produkcji,rodzaj_silnika,przebieg,cena
0,0,Nissan,X-Trail III,2014.0,Diesel,160000.0,75900.0
1,1,BMW,X1 E84,2012.0,Diesel,149000.0,70900.0
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,99000.0,9800.0
3,3,Hyundai,i10 I,2008.0,Benzyna,93000.0,11900.0
4,4,Volkswagen,CC,2010.0,Diesel,127428.0,49900.0
...,...,...,...,...,...,...,...
995,995,Alfa Romeo,159,2009.0,Diesel,182000.0,33900.0
996,996,Škoda,Fabia II,2012.0,Benzyna,42700.0,25400.0
997,997,Renault,Modus,2004.0,Benzyna,168111.0,10900.0
998,998,Audi,A3 8L,2000.0,Benzyna,226500.0,5400.0
999,999,Volvo,XC 60 I,2016.0,Diesel,13617.0,136900.0

In [51]:
#Wyświetla zakres indeksów
moto.index

RangeIndex(start=0, stop=1000, step=1)

In [52]:
#Wyświetla kolumny
moto.columns

Index(['id', 'marka', 'model', 'rok_produkcji', 'rodzaj_silnika',
       'pojemnosc_silnika', 'przebieg', 'cena', 'wojewodztwo'],
      dtype='object')

In [54]:
#Wyświetla tablice której zawartość zostałą sprowadzona do wspolnego typu danych, w tym przypadku jest to Object
moto.to_numpy()

array([[0, 'Nissan', 'X-Trail III', ..., 160000.0, 75900.0,
        'Dolnośląskie'],
       [1, 'BMW', 'X1 E84', ..., 149000.0, 70900.0, 'Świętokrzyskie'],
       [2, 'Opel', 'Zafira A', ..., 99000.0, 9800.0, 'Opolskie'],
       ...,
       [997, 'Renault', 'Modus', ..., 168111.0, 10900.0, 'Łódzkie'],
       [998, 'Audi', 'A3 8L', ..., 226500.0, 5400.0, 'Małopolskie'],
       [999, 'Volvo', 'XC 60 I', ..., 13617.0, 136900.0, 'Małopolskie']],
      dtype=object)

In [42]:
#Wyświetla podstawowe statystyki dla kazdej kolumny(której zawartością są liczby) takie jak: ilosc, min, max, srednia itd.
moto.describe()

,id,rok_produkcji,pojemnosc_silnika,przebieg,cena
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,499.500000,2009.009000,2040.065000,132556.677000,51942.181000
std,288.819436,5.907946,6014.545066,90094.944138,70057.918015
min,0.000000,1979.000000,1.000000,1.000000,650.000000
25%,249.750000,2005.000000,1500.000000,51750.000000,14900.000000
50%,499.500000,2009.000000,1800.000000,149000.000000,27250.000000
75%,749.250000,2014.000000,2000.000000,193000.000000,58900.000000
max,999.000000,2017.000000,191000.000000,647000.000000,616000.000000

In [43]:
#Wyświetla posortowane dane, według wskazanych kolumn
cars.sort_values(by=["marka","model"])

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
300,300,Alfa Romeo,147,2002.0,Benzyna,2000.0,200000.0,4100.0,Lubelskie
213,213,Alfa Romeo,156,2004.0,Diesel,1900.0,284000.0,6900.0,Lubelskie
370,370,Alfa Romeo,159,2007.0,Diesel,1900.0,190000.0,19000.0,Mazowieckie
995,995,Alfa Romeo,159,2009.0,Diesel,2387.0,182000.0,33900.0,Małopolskie
705,705,Alfa Romeo,Spider,1995.0,Benzyna+LPG,2000.0,175000.0,10000.0,Małopolskie
...,...,...,...,...,...,...,...,...,...
334,334,Škoda,RAPID,2017.0,Diesel,1422.0,1.0,63800.0,Dolnośląskie
750,750,Škoda,RAPID,2016.0,Benzyna,1200.0,3400.0,55900.0,Wielkopolskie
159,159,Škoda,Superb III,2016.0,Diesel,2000.0,15000.0,152900.0,Śląskie
295,295,Škoda,Superb III,2017.0,Diesel,2000.0,5.0,135990.0,Pomorskie
957,957,Škoda,Superb III,2016.0,Benzyna,1984.0,7000.0,139900.0,Śląskie

In [44]:
#Wyświetla średnią każdej kolumny
moto.mean()

id                      499.500
rok_produkcji          2009.009
pojemnosc_silnika      2040.065
przebieg             132556.677
cena                  51942.181
dtype: float64

In [45]:
#Wyświetla srednią wartość każdego rekordu
moto.mean(1)

0      47902.8
1      44782.6
2      22481.2
3      21602.2
4      36262.0
        ...
995    44258.2
996    14461.6
997    36642.4
998    47298.6
999    31100.2
Length: 1000, dtype: float64

In [49]:
#Wyświetla sume naszych rekordów, do każdego rekordu jest dodawana wartość poprzedniego
moto.apply(np.cumsum)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,NissanBMW,X-Trail IIIX1 E84,4026.0,DieselDiesel,3600.0,309000.0,146800.0,DolnośląskieŚwiętokrzyskie
2,3,NissanBMWOpel,X-Trail IIIX1 E84Zafira A,6030.0,DieselDieselBenzyna+CNG,5200.0,408000.0,156600.0,DolnośląskieŚwiętokrzyskieOpolskie
3,6,NissanBMWOpelHyundai,X-Trail IIIX1 E84Zafira Ai10 I,8038.0,DieselDieselBenzyna+CNGBenzyna,6300.0,501000.0,168500.0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkie
4,10,NissanBMWOpelHyundaiVolkswagen,X-Trail IIIX1 E84Zafira Ai10 ICC,10048.0,DieselDieselBenzyna+CNGBenzynaDiesel,8268.0,628428.0,218400.0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkieWielk...
...,...,...,...,...,...,...,...,...,...
995,495510,NissanBMWOpelHyundaiVolkswagenFiatNissanSeatVo...,X-Trail IIIX1 E84Zafira Ai10 ICC500X-Trail ITo...,2000977.0,DieselDieselBenzyna+CNGBenzynaDieselElektryczn...,2034101.0,132105749.0,51763581.0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkieWielk...
996,496506,NissanBMWOpelHyundaiVolkswagenFiatNissanSeatVo...,X-Trail IIIX1 E84Zafira Ai10 ICC500X-Trail ITo...,2002989.0,DieselDieselBenzyna+CNGBenzynaDieselElektryczn...,2035301.0,132148449.0,51788981.0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkieWielk...
997,497503,NissanBMWOpelHyundaiVolkswagenFiatNissanSeatVo...,X-Trail IIIX1 E84Zafira Ai10 ICC500X-Trail ITo...,2004993.0,DieselDieselBenzyna+CNGBenzynaDieselElektryczn...,2036501.0,132316560.0,51799881.0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkieWielk...
998,498501,NissanBMWOpelHyundaiVolkswagenFiatNissanSeatVo...,X-Trail IIIX1 E84Zafira Ai10 ICC500X-Trail ITo...,2006993.0,DieselDieselBenzyna+CNGBenzynaDieselElektryczn...,2038096.0,132543060.0,51805281.0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkieWielk...
999,499500,NissanBMWOpelHyundaiVolkswagenFiatNissanSeatVo...,X-Trail IIIX1 E84Zafira Ai10 ICC500X-Trail ITo...,2009009.0,DieselDieselBenzyna+CNGBenzynaDieselElektryczn...,2040065.0,132556677.0,51942181.0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkieWielk...

In [55]:
#Wyświetla nasze dane po ich transpozycji
moto.T

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
id,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
marka,Nissan,BMW,Opel,Hyundai,Volkswagen,Fiat,Nissan,Seat,Volkswagen,Nissan,...,Mercedes-Benz,Chevrolet,Renault,Fiat,Fiat,Alfa Romeo,Škoda,Renault,Audi,Volvo
model,X-Trail III,X1 E84,Zafira A,i10 I,CC,500,X-Trail I,Toledo II,CC,Juke,...,Klasa S W126,Cruze,Clio IV,Tipo II,Bravo II,159,Fabia II,Modus,A3 8L,XC 60 I
rok_produkcji,2014,2012,2004,2008,2010,2014,2004,2000,2014,2016,...,1986,2010,2017,2017,2007,2009,2012,2004,2000,2016
rodzaj_silnika,Diesel,Diesel,Benzyna+CNG,Benzyna,Diesel,Elektryczny,Diesel,Benzyna,Diesel,Benzyna,...,Benzyna+LPG,Benzyna,Benzyna,Benzyna,Diesel,Diesel,Benzyna,Benzyna,Benzyna,Diesel
pojemnosc_silnika,1600,2000,1600,1100,1968,1,2200,1800,1968,1197,...,2600,1598,898,1400,1910,2387,1200,1200,1595,1969
przebieg,160000,149000,99000,93000,127428,36800,174000,140700,52000,18000,...,336000,7560,1,2,217200,182000,42700,168111,226500,13617
cena,75900,70900,9800,11900,49900,74200,23200,8150,97000,56900,...,21500,21900,58000,47350,18900,33900,25400,10900,5400,136900
wojewodztwo,Dolnośląskie,Świętokrzyskie,Opolskie,Łódzkie,Wielkopolskie,Śląskie,Dolnośląskie,Pomorskie,Pomorskie,Mazowieckie,...,Świętokrzyskie,Warmińsko-mazurskie,Śląskie,Mazowieckie,Świętokrzyskie,Małopolskie,Lubelskie,Łódzkie,Małopolskie,Małopolskie

In [83]:
#Ustawianie wartosci w podanej kolumnie
moto.loc[:,'model'] = np.array([0] * len(moto))
moto

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,0,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,BMW,0,2012.0,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,2,Opel,0,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,3,Hyundai,0,2008.0,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,4,Volkswagen,0,2010.0,Diesel,1968.0,127428.0,49900.0,Wielkopolskie
...,...,...,...,...,...,...,...,...,...
995,995,Alfa Romeo,0,2009.0,Diesel,2387.0,182000.0,33900.0,Małopolskie
996,996,Škoda,0,2012.0,Benzyna,1200.0,42700.0,25400.0,Lubelskie
997,997,Renault,0,2004.0,Benzyna,1200.0,168111.0,10900.0,Łódzkie
998,998,Audi,0,2000.0,Benzyna,1595.0,226500.0,5400.0,Małopolskie
999,999,Volvo,0,2016.0,Diesel,1969.0,13617.0,136900.0,Małopolskie

In [84]:
#Ustawianie wartości kolumny według indexów
moto.iat[0,1] = 0
moto

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,0,0,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,BMW,0,2012.0,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,2,Opel,0,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,3,Hyundai,0,2008.0,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,4,Volkswagen,0,2010.0,Diesel,1968.0,127428.0,49900.0,Wielkopolskie
...,...,...,...,...,...,...,...,...,...
995,995,Alfa Romeo,0,2009.0,Diesel,2387.0,182000.0,33900.0,Małopolskie
996,996,Škoda,0,2012.0,Benzyna,1200.0,42700.0,25400.0,Lubelskie
997,997,Renault,0,2004.0,Benzyna,1200.0,168111.0,10900.0,Łódzkie
998,998,Audi,0,2000.0,Benzyna,1595.0,226500.0,5400.0,Małopolskie
999,999,Volvo,0,2016.0,Diesel,1969.0,13617.0,136900.0,Małopolskie

In [70]:
#Wyświetla jedno wymiarową tablice z danymi wskazanej kolumny
pd.Series(moto.marka,index=moto.id)

id
0          Nissan
1             BMW
2            Opel
3         Hyundai
4      Volkswagen
          ...
995    Alfa Romeo
996         Škoda
997       Renault
998          Audi
999         Volvo
Name: marka, Length: 1000, dtype: object

In [73]:
#Wyświetla posortowane kolumny według osi
moto.sort_index(axis=1, ascending=False)

,wojewodztwo,rok_produkcji,rodzaj_silnika,przebieg,pojemnosc_silnika,model,marka,id,cena
0,Dolnośląskie,2014.0,Diesel,160000.0,1600.0,0,Nissan,0,75900.0
1,Świętokrzyskie,2012.0,Diesel,149000.0,2000.0,0,BMW,1,70900.0
2,Opolskie,2004.0,Benzyna+CNG,99000.0,1600.0,0,Opel,2,9800.0
3,Łódzkie,2008.0,Benzyna,93000.0,1100.0,0,Hyundai,3,11900.0
4,Wielkopolskie,2010.0,Diesel,127428.0,1968.0,0,Volkswagen,4,49900.0
...,...,...,...,...,...,...,...,...,...
995,Małopolskie,2009.0,Diesel,182000.0,2387.0,0,Alfa Romeo,995,33900.0
996,Lubelskie,2012.0,Benzyna,42700.0,1200.0,0,Škoda,996,25400.0
997,Łódzkie,2004.0,Benzyna,168111.0,1200.0,0,Renault,997,10900.0
998,Małopolskie,2000.0,Benzyna,226500.0,1595.0,0,Audi,998,5400.0
999,Małopolskie,2016.0,Diesel,13617.0,1969.0,0,Volvo,999,136900.0

In [98]:
#Zwraca wartości true w tam gdzie zawartość jest NaN
pd.isna(moto)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False